*{
    margin: 0%;
    padding: 0%;
}

.pbody{
    /* padding: 90px; */
    width: 100%;
    height: calc(100vh - 8vh - 100px);
    background-color: rgb(161, 161, 161);
    padding: 60px 20px;
}

.pform{
    padding: 18px 20px;
    border-radius: 12px;
    justify-self: normal;
    margin: auto;
    width: 400px;
    height: 390px;
    text-align: center;
    background-color: rgb(204, 204, 204);
}

.text{
    border-radius: 12px;
    margin: 1%;
    width: 80%;
    height: 40px;
    text-align: center;
    font-size: larger;
}
input[type=checkbox] {
    /* All browsers except webkit*/
    transform: scale(1);
}


#uerror{
    color: red;
}