.body{
    height: calc(100vh - 160px);
    text-align: center;
}

.go{
    border-radius: 12px;
    display: block;
    width: 100px;
    height: 20px;
    background-color: blue;
    color: antiquewhite;
    margin: auto;
}

.msg{
    color: rgb(13, 196, 13);
}